html{
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", "Georgia", "Baskerville", serif;
    font-weight: bold;
}
.up{
    width: 100vw;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.up .entete-img{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: auto;
}

.entete-img img{
    height: 50%;
    width: auto;
}

.entete-img img:hover {
    animation: shake 0.5s ease-in-out infinite; /* Animation au survol */
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.social-networks{
    margin-right: 1em;
}
.social-networks button{
    height: 100%;
    cursor: pointer;
    padding: 1em;
    font-size: 1.5em;
    width: auto;
    border: none;
    background-color: black;
    color: white;
}
.social-networks button > i {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.social-networks button:hover > i {
    color: #e6c619;
  }

.entete{
    width: 100%;
    height: auto;
    background-color: black;
}

.banniere{
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.banniere > img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.intro-for-website{
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    margin-bottom: 4em;
}

.intro-for-website p{
    width: auto;
    line-height: 3;
    font-size: 1.5em;
    margin: 0 5em;
}
.intro-for-website > i {
    font-size: 2em;
    margin-left:1em;
    display: inline-block; 
    animation: rotate 2s linear infinite; 
}

@keyframes rotate {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg);
    }
}

/**************************************************/

.center{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-family: American Typewriter, serif;
    width: 100%;
    font-size: 4em;
}

.personne{
    border-radius: 2em;
    display: flex;
    margin-bottom:3em;
    width: 60%;
    flex-direction: row;
    background-color: #761f51;
    color: white;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.personne-img {
    flex: 0 0 auto;
    height: 50%;
    
}

.personne-img img {
    height: 100%;
    width: auto;
    border-radius: 2em;
    display: block;
}
.personne-text{
    flex: 1 1 50%;
    margin-left: 2em;
    text-align: left;
}
.personne-text > h2{
    font-size: 3em;
}

.personne-text > p{
    font-size: 1.5em;
}

.citation{
    padding:5em 0;
    letter-spacing: 0.15em;
    font-style: italic;
    margin: 0 3em;
    line-height: 2;
    color: white;
    text-align: center;
}


.intro-for-photos{
    width: 100%;
    height: auto;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.intro-for-photos > img{
    width: 50%;
    margin: 1em;
    height: auto;
}

.photos-container{
    width: 100%;
    height: auto;
    margin:0;
    padding: 0;
}

.photo-category {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5em;
    min-height: 100vh;

}

.photo-category h1 {
    position: absolute;
    z-index: 2;
    color: white; 
    font-size: 3em;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7); 
}

.img-section {
    position: absolute;
    width: 25%; 
    height: auto;
    overflow: hidden;
}
.img-section:first-of-type {
    margin-left: 60%;
}

.img-section:nth-child(2) {
    margin-left: 30%;
    margin-top: 50%;
}
.img-section:nth-child(3) {
    margin-right: 30%;
    margin-top: 50%;
}
.img-section:nth-child(4) {
    margin-left: 30%;
    margin-top: 30%;
}

.img-section:last-of-type {
    margin-right: 60%;
}
.img-section img {
    width: 100%;
    height: auto;
    opacity: 0.8; 
    object-fit: cover; 
}

.img-top {
    top: -20%; 
    z-index: 1; 
}

.img-bottom {
    bottom: -20%; 
    z-index: 1; 
}

#cotedor{
    margin-bottom: 10em;
}







.contact-page{
    z-index: 1000;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.contact-page-former{
    width: 75%;
    background-color: #761f51;
    border-radius: 2em;
}

.contact-page h3{
    color: white;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 3em;
    width: 75%;
    line-height: 1;
    text-align: left;
    margin: 0.1em;
}

.contact-page h4{
    color: #e6c619;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 2em;
    width: 75%;
    line-height: 1;
    text-align: left;
    margin: 0.1em;
    margin-bottom: 2em;
}

.contact-page h3:first-of-type{
    margin-top: 2em;
}


.form-container {
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.1);
    width: 100%;
    max-height: 100%;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emailForm{
    width:50%;
    height: auto;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}
.form-container input, .form-container textarea {
    width: 100% !important;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1em;
}

.form-container button:hover {
    background-color: #0056b3;
}


.form-container button{
    width: 100% !important; 
    display: inline-block;
    transition: 0.5s;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .form-container button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    right: -20px;
    transition: 0.5s;
  }
  
  .form-container button:hover{
    background-color: blue;
    color: white;
  }
  
  .form-container button:hover:after {
    opacity: 1;
    right: 10px;
  }
  
#emailForm.hidden {
    animation: closeForm 0.5s forwards;
}

.thank-you-message {
    display: none;
    text-align: center;
    font-size: 20px;
    
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
.thank-you-message.visible {
    display: block;
    color: white;
    height: 100%;
    opacity: 1;
}

@keyframes closeForm {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    50% {
        transform: scaleY(0.5);
        opacity: 0.8;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* BAS DE PAGE *************************************/

.down{
    bottom: 0;
    background-color: black;
    display: flex;
    padding: 1em 0;;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
}

.down-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-down{
    width: 10%;
    height: auto;
}

.img-down > img{
    width: 100%;
    height: auto;
}

.down-menu button{
    height: 100%;
    cursor: pointer;
    padding: 2em;
    width: auto;
    border: none;
    background-color: transparent;
    color: black;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.down p{
    color: lightgray;
    font-size: 1em;
    font-weight: 900;
}

.down-menu button:hover {
    background-color: black;
    color: black;
}

@media screen and (max-width: 1000px) {
    html,body{
        width: 100%;
    }

    .up{
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 2em;
    }

    .citation{
        font-size: 1.7em;
    }
    
    .intro-for-website p {
        margin:0 1em;
        text-align: justify;
        font-size: 1em;
    }

    .personne {
        width: 95%;
    }
    .personne-text > p {
        margin-top: 0;
    }
    .personne-text > h2 {
        margin-top: 0;
    }

    .photo-category {
        height: 50vh;
    }
    .contact-page h3 {
        font-size: 1.5em;
        width: 85%;
    }

    .contact-page h4 {
        width: 85%;
        font-size: 1em;
    }
}
